$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$background-color: white;
$background-border: white;
$background-radius: 5px;

$header-height: 50px;
$header-radius: 30px;

$default-text-color: #1F3B3B;